#container {
   min-height:100%;
   position:relative;
}

body {

	margin: 0;
	padding: 0;
	background-image:url('comedy_stage gray.jpg');
	background-color:#cccccc;
	a:link color:#000000;     
  a:visited color:#000000; 
  a:hover color:#000000;  
  a:active color:#000000; 
	
}

#leftside {

float: left;
height: 100%;
width: 175px;
margin-top: 100px;
padding: 0 15px 0 15px;

}
#content {
  
	a:link color:#000000;     
  a:visited color:#000000; 
  a:hover color:#FF00FF;  
  a:active color:#000000; 
	padding: 0 20px 0 20px;
	
	margin-right:200px;
  margin-left:200px;
	font: 1.5em arial, verdana, sans-serif;
	width: 960px;
	height: 100%;
	
}

#footer {

   bottom:0;
   width:100%;
   height:60px;   

}